:root {
  --primary-color: #bf8b67;
  --secondary-color: #fcf8e8;
  --primary-text-color: #2d2424;
}

.App {
  min-height: 100vh;
  font-family: "Urbanist", sans-serif;
  background-image: url(/src/imgs/background-paper.png);
}
