.Footer {
  height: 15vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/src/imgs/footer-img.jpg);
  background-size: cover;
  background-position: center;
}

.Footer a {
  color: var(--secondary-color);
}

.Footer p {
  color: var(--secondary-color);
  text-align: center;
  padding-top: 3.5em;
}
